{{> header title=(concat "Your " brand.displayName " nbn® FTTB relocation")}}

<tr>
  <td style="padding: 20px 15px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Let’s move your nbn® to your new place</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Order number:</strong> %%ORDER_NUMBER%%
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Hi %%NAME%%,
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          We know that moving house can be a busy time, so we're here to help make things easier for you.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          We'll be relocating your existing {{brand.displayName}} nbn® Fibre to the Building (FTTB) service to your new address.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Here's some important info to keep handy.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Installation at your new address</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Date: </strong>%%DATE%%
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Installation address:</strong> %%INSTALLATION_ADDRESS%%
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          For your upcoming installation, technicians will need to access your premises. They may also need to install new wiring and an internet wall plate. Someone who is 18 years or older will need to be present at the premises for installation.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Modem</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          You can plug in your {{brand.displayName}} modem using our %%SETUP_GUIDE%%.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          If you’re using your own modem, check out our %%BYO_SETUP_GUIDE%%.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>What you need to do</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          On the day of your move, please take your modem with you. We’ll make sure you’ve got everything else you need at your new address, so you don’t need to worry.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Should you have a question about your order, please call us on {{brand.support.phone}} and we’ll be happy to help.
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding: 20px 15px 60px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}};">
          Thanks,<br>
          Your {{brand.displayName}} Team
        </td>
      </tr>
    </table>
  </td>
</tr>

{{> footer showThingsHeading=true showNbnTrademark=true}}
