{{> header title="Your nbn® technician appointment"}}

<tr>
  <td style="padding: 20px 15px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Reference: %%NBN_APPOINTMENT_ID%%
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Hi there,
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          We've made an appointment for an nbn® technician to come to your premises to help resolve your connection issue.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Appointment Date:</strong> %%APPOINTMENT_DATE%%
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Please note that someone who's 18 years or older will need to be there during your appointment.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          If any of the information doesn't look right, please give us a call on {{brand.support.phone}} and quote your reference number above.
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding: 20px 15px 60px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}};">
          Thanks,<br>
          Your {{brand.displayName}} Team
        </td>
      </tr>
    </table>
  </td>
</tr>

{{> footer showThingsHeading=true showNbnTrademark=true}}
