{{> header title=(concat "Your " brand.displayName " nbn® FTTN order")}}

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}};">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Order number:</strong> %%ORDER_NUMBER%%
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Hi %%NAME%%,
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          It's great to have you on board with {{brand.displayName}} nbn®. Here are the next steps to get you set up and connected to the internet.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Your plan and service</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Your plan is the:</strong> %%PLAN%%<br />%%STATIC_IP_CALCULATION%%
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Here are various other important documents relating to your nbn® service:
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <a href="%%CRITICAL_INFORMATION_SUMMARY_CIS%%" style="color: {{brand.colors.primary}}; text-decoration: underline;">Critical Information Summary (CIS)</a><br /><a href="%%KEY_FACT_SHEET%%" style="color: {{brand.colors.primary}}; text-decoration: underline;">Key Fact Sheet</a><br />
          <a href="%%TERMS_NAME%%" style="color: {{brand.colors.primary}}; text-decoration: underline;">Terms and Conditions</a></td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Technology Type</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Your nbn® technology type is:</strong> Fibre to the Node (FTTN)
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          For more information on your technology type and what’s required for installation, check out our <a href="%%SUPPORT_PAGE%%" style="color: {{brand.colors.primary}}; text-decoration: underline;">support page</a>.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Modem</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          You can plug in your {{brand.displayName}} modem using our <a href="%%SETUP_GUIDE%%" style="color: {{brand.colors.primary}}; text-decoration: underline;">setup guide</a>.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          If you’re using your own modem, check out our <a href="%%BYO_SETUP_GUIDE%%" style="color: {{brand.colors.primary}}; text-decoration: underline;">BYO setup guide</a>.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Installation Details</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Your {{brand.displayName}} nbn® service is scheduled to be activated on %%DATE%% at %%INSTALLATION_ADDRESS%%.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          For your upcoming installation, technicians will need to access your premises. They may also need to install new wiring and an internet wall plate. Your appointment will be confirmed by email in the next few days. Someone who is 18 years or older will need to be present at the premises for installation.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Should you have a question about your order, please call us on {{brand.support.phone}} and we’ll be happy to help.
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}} 60px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}};">
          Thanks,<br>
          Your {{brand.displayName}} Team
        </td>
      </tr>
    </table>
  </td>
</tr>

{{> footer showThingsHeading=true showNbnTrademark=true}}
