{{> header title=(concat brand.displayName " payment successful")}}

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}};">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Thanks for your payment</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Hi %%NAME%%,
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Thanks, your payment has been processed and it will be shown on your next bill. You can manage your account any time through {{brand.app.name}}.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; line-height: 26px; color: {{brand.colors.headerText}}; padding-bottom: 8px;">
          <strong>Your payment details:</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Payment date:</strong> %%PAYMENT_DATE%%<br /><strong>Amount paid:</strong> $%%PAYMENT_AMOUNT%%<br /><strong>Payment method:</strong> %%PAYMENT_METHOD%%
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}} 60px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}};">
          Thanks,<br>
          Your {{brand.displayName}} Team
        </td>
      </tr>
    </table>
  </td>
</tr>

{{> footer}}
