{{> header title="Update for your Transfer of Title request"}}

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}};">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Hi %%NAME%%,
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          We've received your request to authorise transfer of the service %%SERVICE_IDENTIFIER%% from your account.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          It looks like you're paying $%%MONTHLY_AMOUNT%% for your device each month. You have %%NUMBER%% months remaining to pay off your device. Before we can transfer the service to %%GAINING_CUSTOMER_NAME%%, your remaining instalments must be paid in full. That comes to $%%TOTAL_AMOUNT_REMAINING%%.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Please let us know if you can pay for the remaining instalments. Once you do, we'll continue with the transfer of title. We're always here to help so if you have any questions, please give us a call on %%ACCOUNTS_NUMBER%% {{brand.support.accountsHoop}}.
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}} 60px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}};">
          Thanks,<br>
          Your {{brand.displayName}} Team
        </td>
      </tr>
    </table>
  </td>
</tr>

{{> footer}}
