{{> header title="Documents required for your Transfer of Title request"}}

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}};">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Hi %%NAME%%,
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          We’ve received the supporting documentation for review of your credit application under ROW ID 2-%%IDNUMBER%%.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          However, we’re unable to process the documents you have provided as they are pasted in the body of the email. Could you please resend your 100 points of ID as an attachment to this email? We also require it to be in PDF or JPEG format.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Once you send us this information, we can continue with the Transfer of Title request.
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}} 60px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}};">
          Thanks,<br>
          Your {{brand.displayName}} Team
        </td>
      </tr>
    </table>
  </td>
</tr>

{{> footer}}
