{{> header title="Update for your Transfer of Title request"}}

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}};">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Hi %%NAME%%,
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          We've received your request to transfer the service %%SERVICE_IDENTIFIER%% from your account. However, you currently have an overdue amount of $%%AMOUNT%% on your account. This was due for payment on %%DDMMYYYY%%.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          Once we've received your payment, we'll be able to continue with the transfer of title. Please give us a call on %%ACCOUNTS_NUMBER%% to make payment. You can also pay your bill online through %%CUSTOMER_PORTAL_NAME%%.
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          If you've already paid, please note that credit card payments can take up to 48 hours to be processed. It can also take up to 4 days to process BPay payments.
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding: 20px {{brand.layout.horizontalPadding}} 60px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}};">
          Thanks,<br>
          Your {{brand.displayName}} Team
        </td>
      </tr>
    </table>
  </td>
</tr>

{{> footer}}
