{{> header title=(concat "Verify your email with " brand.displayName)}}

<tr>
  <td style="padding: 20px 15px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Verify your email</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>Hi %%NAME%%,</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>To verify your email, enter this 6-digit code in {{brand.app.name}}:</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>%%OTP_CODE%%</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          <strong>This link expires in 48 hours. If you didn’t request this link, please ignore this email.</strong>
        </td>
      </tr>
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}}; padding-bottom: 20px;">
          If you have any questions or need support, our team is <a href="%%HERE_TO_HELP%%" style="color: {{brand.colors.primary}}; text-decoration: underline;">here to help</a>.
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td style="padding: 20px 15px 60px;">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 24px; color: {{brand.colors.text}};">
          Thanks,<br>
          Your {{brand.displayName}} Team
        </td>
      </tr>
    </table>
  </td>
</tr>

{{> footer}}
