<tr>
  <td style="background-color: {{brand.colors.footerBackground}}; padding: 20px 15px; color: {{brand.colors.footerText}};">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 120%; color: {{brand.colors.footerText}};">
          {{#if showThingsHeading}}
          <p style="margin: 0 0 10px 0; font-size: 14px; font-weight: bold;">
            Things you need to know
          </p>
          {{#if typicalEveningSpeed}}
          <p style="margin: 0 0 15px 0;">
            *Typical Evening Speed: This is the typical download speed you may experience between 7pm and 11pm. It is not a guaranteed minimum speed, and you may experience lower speeds during this period and at other times. Speed will vary on several factors such as technology type, plan choice and internet traffic demand.
          </p>
          {{/if}}
          {{#if showNbnTrademark}}
          <p style="margin: 0 0 15px 0;">
            nbn&reg;, nbn co and other nbn&reg; logos and brands are trademarks of nbn co limited and used under licence.
          </p>
          {{/if}}
          {{/if}}
          <p style="margin: 0 0 15px 0;">
            At {{brand.displayName}}, we want to ensure that your security information and personal details are safe. We will never call you and ask for your passwords, security codes, or credit card details. For more information, visit: <a href="{{brand.support.url}}" style="color: {{brand.colors.footerText}}; text-decoration: underline;">{{brand.support.url}}</a>
          </p>
          <p style="margin: 0 0 15px 0;">
            This email was sent to you by {{brand.displayName}} from a notification-only address that can't be replied to.
          </p>
          <p style="margin: 0; font-size: 12px;">
            © 2026 {{brand.company.name}} {{#if brand.company.acn}}ACN {{brand.company.acn}}{{else if brand.company.abn}}ABN {{brand.company.abn}}{{/if}}
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
