<tr>
  <td style="background-color: {{brand.colors.footerBackground}}; padding: 20px 15px; color: {{brand.colors.footerText}};">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; line-height: 120%; color: {{brand.colors.footerText}};">
          <p style="margin: 0 0 15px 0;">
            At {{brand.displayName}}, we want to ensure that your security information and personal details are safe. We will never call you and ask for your passwords, security codes, or credit card details. For more information, visit: <a href="{{brand.support.url}}" style="color: {{brand.colors.footerText}}; text-decoration: underline;">{{brand.support.url}}</a>
          </p>
          <p style="margin: 0 0 15px 0;">
            This email was sent to you by {{brand.displayName}} from a notification-only address that can't be replied to.
          </p>
          <p style="margin: 0; font-size: 12px;">
            © 2026 {{brand.company.name}} {{#if brand.company.acn}}ACN {{brand.company.acn}}{{else if brand.company.abn}}ABN {{brand.company.abn}}{{/if}}
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
