<tr>
  <td style="padding: 30px {{brand.layout.horizontalPadding}} 20px">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td align="right" class="mobile-center" style="padding-bottom: 20px;">
          <img src="{{brand.logo.url}}" alt="{{brand.logo.alt}}" width="{{brand.logo.width}}" height="{{brand.logo.height}}" style="display: block; max-width: 100%; height: auto;">
        </td>
      </tr>
      {{#if title}}
      <tr>
        <td style="padding-top: 10px;">
          <h1 style="margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 28px; font-weight: bold; line-height: 34px; color: {{brand.colors.headerText}};">
            {{title}}
          </h1>
        </td>
      </tr>
      {{/if}}
    </table>
  </td>
</tr>
