{{#if showSection}}
<tr>
  <td style="padding: 0px 15px; 20px">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; font-weight: bold; color: {{brand.colors.text}}; padding-bottom: 15px;">
          Your payment details:
        </td>
      </tr>
      {{#if accountNumber}}
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: {{brand.colors.text}}; padding-bottom: 10px;">
          Account Number: <strong>{{accountNumber}}</strong>
        </td>
      </tr>
      {{/if}}
      {{#if overdueAmount}}
      <tr>
        <td style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; color: {{brand.colors.text}}; padding-bottom: 10px;">
          Overdue Amount: <strong>{{overdueAmount}}</strong>
        </td>
      </tr>
      {{/if}}
    </table>
  </td>
</tr>
{{/if}}
